@model CategoriesMVC.Models.CategoryViewModel

<h3>Atualizar Categoria</h3>
<hr />
<form asp-action="UpdateCategory">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6" style="padding-top: 10px">
            @if (string.IsNullOrEmpty(@Model.ImageUrl))
            {
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/no-image-3215175-2672258.png?f=webp" />
            }
            else
            {
                <img src="@Model.ImageUrl" />
            }
        </div>
    </div>
    <div class="form-group" style="padding-top: 10px">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-info">Retornar</a>
    </div>
    @if (@ViewBag.Erro != null)
    {
        <div style="color:red">
            <h4>@ViewBag.Erro</h4>
        </div>
    }
</form>


